<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./about.component.css">
</head>
<body>
    <div class="container-floud">
        <div class="row justify-content-between">
          <div class="col-12 col-lg-7">
            <h6 id="w4">ABOUT THE DISEASE</h6>
            <h2 id="p11">coronavirus (COVID-19)</h2>
            <p id="w1">COVID-19 is a new illness that can affect your lungs and airways. </p>
  
            <p id="w2"> It's caused by a virus called coronavirus. It was discovered in December 2019 in Wuhan, Hubei,
              China. </p>
  
            <p id="w3"> Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and
              breathing
              difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney
              failure and even death. </p>
  
            <p id="w3"> Standard recommendations to prevent infection spread include regular hand washing, covering mouth
              and nose when
              coughing and sneezing, thoroughly cooking meat and eggs. Avoid close contact with anyone showing symptoms of
              respiratoryillness such as coughing and sneezing.</p>
  
          </div>
          <div class="about-links col-12 col-lg-4 links">
            <ul>
              <li style="text-align: center;">What you need to know</li>
              <a href="">
                <li><span>How coronavirus is spread</span> <i class="fas fa-arrow-right"></i></li>
              </a>
              <a href="">
                <li><span>Symptoms of coronavirus</span> <i class="fas fa-arrow-right"></i></li>
              </a>
              <a href="">
                <li><span>How to protect yourself</span> <i class="fas fa-arrow-right"></i></li>
              </a>
              <a href="">
                <li><span>Treatment for coronavirus</span> <i class="fas fa-arrow-right"></i></li>
              </a>
              <a href="">
                <li><span>Myth-Busters of coronavirus</span> <i class="fas fa-arrow-right"></i></li>
              </a>
              <a href="">
                <li><span>Questions & answers</span> <i class="fas fa-arrow-right"></i></li>
              </a>
            </ul>
          </div>
        </div>
      </div>
   
</body>
</html>
