<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="contain">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="text-head">

          <h2 class="h2"> CORONA <sup id="p3"> COVID-19</sup> </h2>
          <h1><sup id="p4"> VIRUS </sup> </h1>
        </div>
        <p class="p">
          The coronavirus (COVID-19) was first reported in Wuhan, hubei, china in december 2019, the outbreak was
          later recognized as a pandemic by the World Health organization (WHO) on 11 march 2020.
        </p>
        <div class="text-btn">
          <a href="#protect"><button id="bt1" class="btn btn-success"
              style="margin-right:100px ; margin-left: 20px;">how to protect </button></a>
          <a href="#about" id="bt2" class="btn btn-info">About COVID-19 </a>
        </div>
        <div class="">
          <div class="number">
            <p class="text-num ">worldwidecases</p>
            <p class="num">8,949,671</p>
          </div>
          <div class="number">
            <p class="text-num">deaths</p>
            <p class="num">467,432</p>
          </div>
          <div class="number">
            <p class="text-num">recovered</p>
            <p class="num">4,556,091</p>
          </div>
        </div>
      </div>
      <img id="img3" src="./img/4.png" alt="">
    </div>
  </div>
</body>

</html>

